#header {
  background-color: #66CCFF;
  color: white;
}


body {
  font-family: Arial,sans-serif;
  color: #292f33;
}

button {
  background-color: #e1e8ed;
  border: 1px solid #e1e8ed;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #fbd8ff;
  border: 1px solid #fbd8ff;
}
button:focus {
  outline: 0;
}

/* This element would be replaced by where you want the templates. */
.tweetEntry-tweetHolder {
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  width: 688px;
  margin: 10px 0px auto;
  border-radius: 5px;
}

.generalHolder {
  border-left: 0px solid #e1e8ed;
  border-right: 0px solid #e1e8ed;
  border-top: 0px solid #e1e8ed;
  margin: auto;
}

/* .formHolder {
  border-left: 0px solid #e1e8ed;
  border-right: 0px solid #e1e8ed;
  border-top: 0px solid #e1e8ed;
  width: 688px;
  margin: auto;
  border-radius: 5px;
} */

.formHolder {
  width: 688px;
  margin: 50px auto;
  border: 4px solid #fbd8ff;
  padding: 5px;
  text-align: center;
  position: relative;
  border-radius: 1rem;
  background-color: #fbd8ff;
}

.formHolder:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fbd8ff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fbd8ff;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -23px;

}

/* .formHolder:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: 24px;
  bottom: -13px;
} */

.form-control {
  margin: 0 auto;
}

.form-control:focus {
  outline: none;
}

.post-button {
  background-color: #e1e8ed;
  border: 0.5px solid #c0c5c9;
  border-radius: 0.5rem;
  padding: 5px 17px;
}

.post-button:hover {
  background-color: grey;
  border: 0.5px solid grey;
  border-radius: 0.5rem;
}

.postSearch {
  border-radius: 0.5rem;
  border: 1px solid #e1e8ed;
}
.postSearch:focus {
  outline: none;
}

/* The action list is optional. */
.tweetEntry-action-list {
  display: block;
  line-height: 18px;
  margin-left: 58px;
  color: #292f33;
}
.fa-flag:hover {
  color: #292f33;
}
.fa-heart:hover {
  color: #ff3333;
}
/************************/
.fa-heart:hover .dropdown-content {display:inline-block;}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;  
  font-family: Arial,sans-serif;
}

a[href^="#"] {
  margin-left: 5px;
  background-color: #e1e8ed;
  border: 0.5px solid #e1e8ed;
  border-radius: 0.5rem;
  width: 150px;
  padding: 2px 3px;
  color: black;
}

a[href^="#"]:hover {
  text-decoration: none;
  background-color: #fbd8ff;
  border: 0.5px solid #fbd8ff;
  color: black;
}

.tweetEntry {
  border-bottom: 1px solid #e1e8ed;
  min-height: 51px;
  padding: 9px 12px;
}

.tweetEntry-content {
  display: block;
  font-size: 14px;
  margin-left: 58px;
  font-size: 14px;
  min-height: 48px;
}
.tweetEntry-account-group {
  color: #8899a6;
  padding: 0px;
  text-decoration: none;
  line-height: 20px;
}
.tweetEntry-avatar {
  float: left;
  height: 48px;
  width: 48px;
  margin-left: -58px;
  border-radius: 5px;
}
.tweetEntry-fullname {
  font-weight: bold;
  font-size: 14px;
  color: #292f33;
  padding: 0px;
}
.tweetEntry-username {
  font-weight: bold;
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-timestamp {
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-reward {
  color: grey;
}
.tweetEntry-text-container {
  font-size: 14px;
  color: #292f33;
  line-height: 18px;
}

.optionalMedia {
  margin-left: 58px;
  margin-top: 10px;
}
.optionalMedia-img {
  border-radius: 5px;
  max-width: 506px;
  max-height: 506px;

}
.prefooter {
  background-color: #fbd8ff;
  height: 30px;
  margin-top: 20px;
}
.footer {
  background-color: #CE9AD3;
  height: 70px;
}
